* {
    font-family:arial,ubuntu;
    color:#444;
    font-weight:100;
}
hr {
    border:none;
    background:none;
    border-bottom:1px solid #ddd;
}
body {
    padding:40px;
}
a {
    display:block;
    padding:5px;
}
a:hover {
    background:#eee;
}